.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 32px;

  gap: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  white-space: nowrap;
  cursor: pointer;

  @include hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }

  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  }

  &--accent {
    color: var(--color-dark);
    background-color: var(--color-accent);

    @include hover {
      color: var(--color-accent);
      background-color: var(--color-dark);
      border: var(--border-accent);
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);

    @include hover {
      color: var(--color-dark);
      background-color: var(--color-accent);
    }
  }
}