.cart {
  --nameWidth: 290px;
  --priceWidth: 88px;
  --counterWidth: 164px;
  --totalPriceWidth: 74px;
  --deleteButtonWidth: 24px;

  display: flex;
  gap: 32px;

  &__title {
    @include first-letter-uppercase;

    padding-bottom: 20px;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  &__inner {
    padding: 20px 24px 24px;

    display: flex;
    flex-direction: column;

    flex: 2;

    @include card;
  }

  &__total {
    max-width: 424px;

    flex: 1;
  }

  &__header {
    padding-block: 10px;
    
    &-list {
      display: flex;
      gap: 20px;
    }

    &-item {
      @include first-letter-uppercase;
      white-space: nowrap;
      color: var(--color-dark-gray);
      font-weight: 500;
      font-size: 14px;
    }
    
    &-item:nth-child(1) {
      flex: 0 var(--nameWidth);
    }
    &-item:nth-child(2) {
      flex: 0 0 var(--priceWidth);
    }
    &-item:nth-child(3) {
      flex: 0 0 var(--counterWidth);
    }
    &-item:nth-child(4) {
      flex: 0 0 var(--totalPriceWidth);
    }
    &-item:nth-child(5) {
      flex: 0 0 var(--deleteButtonWidth);
    }
  }

  
  &__list {
    padding-block: 16px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    border-top: var(--border);
    border-bottom: var(--border);
  }
  
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  &__item > :nth-child(1) {
    flex: 0 var(--nameWidth);
  }
  &__item > :nth-child(2) {
    flex: 1 0 var(--priceWidth);
  }
  &__item > :nth-child(3) {
    flex: 1 0 var(--counterWidth);
  }
  &__item > :nth-child(4) {
    flex: 1 0 var(--totalPriceWidth);
  }
  &__item > :nth-child(5) {
    flex: 1 0 var(--deleteButtonWidth);
  }

  &__product {
    &-title {
      @include first-letter-uppercase;

      max-width: max-content;

      flex-basis: var(--nameWidth);

      font-size: 20px;
    }

    &-label {
      display: flex;
      align-items: start;
      gap: 2px;
    }

    &-counter {
      padding: 14px 18px;

      display: flex;
      justify-content: space-between;

      border: var(--border);
      border-radius: 16px;

      font-size: 16px;
      line-height: 24px;
      color: var(--color-dark-gray);

      & button {
        @include reset-button;

        cursor: pointer;
      }
    }

    &-button {
      @include reset-button;

      cursor: pointer;
    }
  }

  &__button {
    margin-top: 24px;
    max-width: max-content;
  }
}