.credits-card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  column-gap: 8px;
  row-gap: 8px;


  color: var(--color-light);
  border-radius: var(--border-radius);

  &--green {
    background: radial-gradient(circle at 0% 100%, #248E1D, #2DB224);
  }

  &--blue {
    background: radial-gradient(circle at 0% 100%, #1B6392, #124261);
  }

  
}