.header {
  padding-block: 18px;

  @include desktop {
    padding-block: 18px;
  }

  @include mobile {
    padding-top: 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;

    @include tablet {
      column-gap: 30px;
    }
  }

  &__logo {
    @include tablet {
      max-width: 120px;
    }

    @include mobile {
      max-width: 144px;
    }
  }

  &__menu {
    margin-left: auto;
    font-size: 16px;

    @include desktop {
      font-size: 16px;
    }

    @include tablet {
      font-size: 16px;
    }

    &-list {
      display: flex;
      align-items: center;
      // column-gap: 40px;

      @include desktop {
        // column-gap: 20px;
      }
    }

    &-link {
      position: relative;

      padding-inline: 16px;
      height: 52px;

      display: inline-flex;
      align-items: center;
      white-space: nowrap;

      font-weight: 500;

      @include hover {
        &::after {
          width: 100%;
        }
      }

      & span::first-letter {
        text-transform: uppercase;
      }

      &::after {
        content: '';
        position: absolute;
        // top: 100%;
        left: 50%;
        bottom: 0;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: var(--color-accent);
        transition-duration: inherit;
      }
    }
  }

  &__submenu {
    &-icon {
      & img {
        max-width: 24px;
        // height: auto;
      }
    }
  }

  &__actions {
    &-list {
      display: flex;
      align-items: center;
      // gap: 32px;

      &:last-child {
        padding-right: 0;
      }
    }

    &-item {
      padding-inline: 16px;
    }

    &-phone {
      font-weight: bold;
    }

    &-cart {
      &-image {
        max-width: 24px;
      }
    }

    &-account {
      // padding: 12px 18px;

      width: 32px;
      height: 32px;
      
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: normal;
      border-radius: 50%;
      color: var(--color-accent);
      background-color: var(--color-dark);
    }
  }

  &__button {
    height: 48px;
    padding-inline: 18px;
    font-size: 16px;
  }
}