.section:has(.hero) {
  padding-top: 36px;
  padding-bottom: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 76px;

  @include desktop {
    row-gap: 60px;
  }

  &__main {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__banner {
    position: absolute;
    top: 0;

    display: flex;
    gap: 16px;
    align-items: center;

    p {
      margin: 0;
      font-size: 22px;
      font-weight: 500;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    // #TODO: max-width зависит от hero__body-description
    row-gap: 28px;

    @include mobile {
      display: contents;
    }
  }

  &__title {
    position: relative;

    padding-inline-start: 4px;
    padding-inline-end: 4px;
    margin-bottom: 10px;

    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 72px;
    line-height: 72px;
    font-weight: bold;

    transform: scaleX(1.2);
    transform-origin: left;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 4px;
      width: 100%;
      height: 16px;
      background-color: var(--color-accent);
      border-radius: var(--border-radius-medium);
    }

    @include mobile {
      order: -2;
      margin-bottom: 10px;
    }
  }

  &__description {
    max-width: 550px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    // #TODO: разобраться со шрифтами
    p {
      font-family: "Space Grotesk", sans-serif;
      line-height: 20px;
      font-weight: normal;
      margin-bottom: 0;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }
  &__footer {
    display: flex;
    gap: 16px;
  }

  &__button {
    @include mobile {
      width: 100%;
      max-width: 390px;
      margin-inline: auto;
    }
  }

  &__partners {
    &-list {
      padding-block: 8px;

      display: flex;
      justify-content: space-between;
      column-gap: 37px;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
      }

      @include mobile-s {
        --heroPartnersWidthOffsetX: 60px;

        column-gap: 0;
        width: calc(100vw + var(--heroPartnersWidthOffsetX) * 2);
        margin-left: calc(
          (var(--heroPartnersWidthOffsetX) + var(--container-padding-x))
          * -1
        );
      }
    }

    &-item {
      @include tablet {
        display: flex;
        justify-content: center;
      }

      @include mobile-s {
        justify-content: start;

        &:nth-child(-n + 3) {
          justify-content: end;
        }
      }
    }

    &-image {
      filter: grayscale(1);
    }
  }

  &__image {
    @include tablet {
      max-width: 40%;
      height: auto;
    }

    @include mobile {
      order: -1;
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}