.order {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    padding-bottom: 24px;
  }

  &__title {
    @include first-letter-uppercase;

    padding-bottom: 12px;

    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }

  &__description {
    padding-bottom: 32px;
    max-width: 424px;

    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark-gray);
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 32px;
  }

  &__button {
    @include first-letter-uppercase;
  }

  &__quick {
    display: flex;
    align-items: start;
    gap: 32px;
  }

  &__form {
    @include card(var(--color-gray));

    padding: 24px;

    flex: 64%;

    &> :not(:first-child) {
      padding-top: 40px;

      border-top: var(--border);
    }

    &> :not(:last-child) {
      padding-bottom: 40px;
    }

    &-inner {
      gap: 16px;

      display: flex;
      flex-direction: column;
      gap: 24px;

      & .grid {
        gap: 16px;
      }
    }

    &-title {
      @include first-letter-uppercase;

      grid-column: 1/3;

      font-weight: bold;
      font-size: 20px;
    }

    &-checkbox {
      @include first-letter-uppercase(true);



      display: flex;
      align-items: center;
      gap: 12px;

      & .field__label {
        @include fluid-text(18, 16);
      }
    }
  }

  &__payments {
    padding: 24px;

    justify-content: space-between;

    background-color: var(--color-light);
    border: var(--border);
    border-radius: var(--border-radius-large);

    &-radio {
      flex: 2;

      display: flex;
      flex-direction: column;
      gap: 8px;

      &:not(:last-child) {
        border-right: 1px solid var(--color-gray);
        padding-right: 3px;
      }

      &:not(:nth-child(2)) {
        padding-left: 3px;
        border-left: 1px solid var(--color-gray);
      }
    }

    &-label {
      padding-bottom: 8px;
      padding-inline: 5px;
      white-space: nowrap;
    }
  }

  &__total {
    flex: 34%;
  }

  &-track {
    @include card;
    // padding-inline: 24px;

    // display: flex;
    // flex-direction: column;
    // gap: 16px;

    &__header {
      padding: 20px 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__title {
      @include first-letter-uppercase;

      font-weight: bold;
      font-size: 20px;
    }

    &__description {
      max-width: 810px;

      font-size: 14px;
      color: var(--color-dark-gray);
    }

    &__fields {
      margin: 0;
      padding: 24px;

      display: flex;
      align-items: flex-start;
      gap: 16px;

      border-bottom: var(--border);
    }

    &__field {
      flex: 2;
    }

    &__info {
      padding-top: 8px;

      display: flex;
      align-items: center;
      gap: 6px;
    }

    &__button {
      @include first-letter-uppercase;
      margin: 24px;

    }
  }
}