.portfolio-card {
  display: flex;
  flex-direction: column;

  background-color: var(--color-gray);
  outline: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);

  @include mobile {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
  }

  &--accent-bg {
    background-color: var(--color-accent);

    .portfolio-card__button {
      @include hover {
        background-color: var(--color-light);
      }
    }
  }

  &--dark-bg {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-top: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: none;
    outline: var(--border-light);

    .portfolio-card__link svg path {
      stroke: var(--color-light);

      &:nth-child(n + 2) {
        stroke: var(--color-light);
      }
    }
  }

  &__body {
    padding: 0 32px 32px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;

    row-gap: 16px;

    @include mobile {
      display: contents;
    }
  }

  &__title {
    width: max-content;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    
    span:first-child::first-letter {
      text-transform: uppercase;
    }
  }

  &__image {
    margin-bottom: 24px;
    max-height: 194px;

    img {
      max-height: 194px;
      width: 100%;
      aspect-ratio: 1;

      border-top-left-radius: var(--border-radius-large);
      border-top-right-radius: var(--border-radius-large);

      object-fit: cover;
      object-position: center;
    }

    @include mobile {
      max-width: 165px;
    }
  }

  &__link {
    width: max-content;
    display: flex;
    gap: 8px;

    font-size: 20px;
    line-height: 28px;

    @include hover {
      opacity: 0.6;
    }

    span::first-letter {
      text-transform: uppercase;
    }

    &--light {
      color: var(--color-light);

      svg path {
        fill: var(--color-light);
      }
    }
  }
}