.radios {
  display: flex;
  // column-gap: 35px;

  &__item {
    @include first-letter-uppercase(true);

    padding-inline: 3px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    cursor: pointer;
  };
}