.section {
  padding-block: var(--section-padding-y);

  &--hidden-x {
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    @include mobile {
      flex-direction: column;
      row-gap: 30px;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 80px;

      @include mobile {
        margin-bottom: 40px;
      }
    }
  }

  &__title {
    font-weight: 600;
  }

  &__title::first-letter {
    text-transform: uppercase;
  }

  &__description {
    max-width: 580px;
  }
}