.total {
  padding: 24px;
  min-width: 424px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @include card;

  &__title {
    @include first-letter-uppercase;
  
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  &__list {

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    @include first-letter-uppercase(true);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    line-height: 20px;

    & :last-child {
      line-height: 36px;
      font-weight: 500;
    }

    &-title {
      @include first-letter-uppercase;

      font-size: 20px;
      color: var(--color-dark);
    }
  }

  &__summary {
    @include first-letter-uppercase(true);

    padding-top: 16px;

    display: flex;
    justify-content: space-between;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    border-top: var(--border);
  }

  &__button {
    @include first-letter-uppercase;

    @include hover {
      color: var(--color-dark);
      background-color: var(--color-accent);
    }
  }

  &--large {
    width: 100%;

    .total {
      &__item {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
      }

      &__summary {
        padding-top: 0;
        padding-bottom: 24px;

        font-size: 30px;
        line-height: 36px;

        border-top: none;
        border-bottom: var(--border);
      }

      &__button {
        margin-top: 8px;
        max-width: max-content;
      }
    }
  }

  &--dark {
    @include card(var(--color-dark));

    .total {

      &:has(&) {

      }

      &__summary {
        border-top: var(--border-light);
        border-bottom: none;
      }

      &__button {
        @include hover {
          color: var(--color-dark);
          background-color: var(--color-light);
          border: var(--color-dark);
        }
      }
    }
  }

  &--accent {
    @include card(var(--color-accent));
  }
}